/* header */

*,
*::after,
*::before {
    outline: 1px solid limegreen;
}

a {
    text-decoration: none;
}


/* .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(158, 43, 43, 0.7);
}

.header,
.logo {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 20%;
    align-items: center;
}

.logo__picture-wrap {
    width: 40%;
}

.logo__picture {
    min-width: 50%;
    max-width: 100%;
} */



.menu {
    outline: 4px solid black;
    font-size: 0;
    background-color: beige;
}

.menu__item {
    font-size: 2rem;
    display: inline-block;
}

.submenu__item {
    font-size: 2rem;
    display: inline-block;
}

.menu__link {
    position: relative;
}

.menu__item:hover .submenu {
    display: block;
}

.submenu:hover .dropdown__submenu {
    display: block;
}

.submenu,
.dropdown__submenu {
    position: absolute;
    display: none;
    background-color: aquamarine;
}

